@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Love+Ya+Like+A+Sister&display=swap');

/* General */

:root {
  --watermelon-red: #ff3333;
  --watermelon-dk-green: #009933;
  --watermelon-lt-green: #addd59;
}

html {
  background: var(--watermelon-red);
  color: #fff
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-size: calc(18px + (18-16)*(100vw - 80vw)/(1200 - 320));
  font-family: 'Raleway',sans-serif;
}

img {
  display: block;
}

/* Typography */

h1,h2 {font-family: 'Bungee Shade', cursive;}
h3,h4,nav li a {font-family: 'Love Ya Like A Sister', cursive;}

h1 {
  font-size: 8vw;
  font-size: calc(40px + (300-40)*(100vw - 80vw)/(1200 - 320));
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 4vw;
  font-size: calc(22px + (200-40)*(100vw - 80vw)/(1200 - 320));
}

p {
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 0.001ch;
}

/* Main */

main > * {
  padding: 1em;
}

/* Header */

header.main_banner {
  margin: 6rem 0;
}

.watermelon-img {
  float: left;
  width: 65vw;
  shape-outside: polygon(0 73%, 1% 3%, 9% 37%, 15% 52%, 27% 62%, 36% 72%, 31% 85%);
  margin-left: -70px;
}

/* Navigation */

/* Reset ul whitespace */
nav.main_nav ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Padded Nav Links */
.main_nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.75rem;
  text-transform: uppercase;
  text-shadow: 2px 1px 3px var(--watermelon-dk-green);
  color: white;
  padding: 1em;
  margin-top: 5px;
  border: 1px solid white;
}

.main_nav a:hover {
  background-color: var(--watermelon-dk-green);
  text-shadow: var(--watermelon-red);
  transition-duration: 0.5s;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 10px solid var(--watermelon-lt-green);
}

/* Sections */

section > div:first-child p {
  font-size: 1.8rem;
  padding: 20% 5px 0 20px;
}

.featured_seeds img {
  width: 50%;
  float: left;
  shape-outside: polygon(40% 6%, 51% 9%, 61% 18%, 65% 28%, 68% 37%, 69% 47%, 75% 49%, 96% 43%, 94% 66%, 81% 85%, 67% 93%, 52% 90%, 32% 79%, 14% 61%, 8% 44%, 6% 29%, 13% 17%);
  margin-left: -50px;
  margin-right: 50px;
  margin-bottom: 25px;
}

/* Grid Layouts */

/* tablets */

@media screen and (min-width: 700px) {
  .grid_main_container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    gap: 1em;
    grid-template-areas:
      "nav banner banner banner"
      "nav section_1 section_1 section_1"
      "nav section_2 section_2 section_2"
      "nav footer footer footer";
  }

  /* Navigation */

  /* sticky nav */
  nav.main_nav {
    position: relative;
  }
  nav.main_nav > ul {
    position: fixed;
    width: 190px;
    margin-top: 6rem;
  }
}

/* grid children area definitions */

.main_banner    {grid-area: banner;}
.main_nav       {grid-area: nav;}
.main_section_1 {grid-area: section_1;}
.main_section_2 {grid-area: section_2;}
.main_footer    {grid-area: footer;}
